.Bl3separation{
display: flex;
}
.block3__1Modul{
background-color:  rgb(208, 232, 207);
height: 670px;
width: 320px;
text-align: center;
margin-left: 140px;

}
.block3-Modul-parameters{
background-color:  rgb(208, 232, 207);
height: 670px;
width: 320px;
text-align: center;
margin-left: 50px;
    
}

.block3-img-parameters{
width: 280px;
height: 392px;
padding-top: 20px;
}
.block3-txt-parameters1{
font-family: Raleway;
font-size: 15px;
color: gray;
margin-top: 15px;
}
.block3-txt-parameters2{
font-family: Raleway;
font-size: 25px;
color: rgb(0, 0, 0);
margin-top: 0px;
font-weight: 550;
}
.block3-txt-parameters3{
font-family: Raleway;
font-weight: 500;
font-size: 15px;
color: rgb(0, 0, 0);
margin-top: -10px;
}

.block3-txt-parameters4{
font-family: Raleway;
font-weight: 500;
font-size: 22px;
color: green;
margin-top: 0px;
}
.block3__1Modul-button{
margin-left: 20px;
margin-top: -40px;
}
.block3-Modul-button-parameters{
margin-left: 20px;
margin-top: -40px;
}
.block3-button-a-p-parameters{
    font-family: Raleway;
    font-size: 20px;
    font-weight: 900px; 
    color: green;
    border: 1px solid green;
    width: 270px;
    height: 40px;
    padding-top: 20px;
    
    }
    .block3-button-a-parameters{
    text-decoration: none;
    text-align: center;
    margin-left: 200px;
    }
    .block3__1Modul-txt1{
    margin-left: -170px; 
    }
    .block3__1Modul-txt2{
    margin-left: -130px; 
    }
    .block3__1Modul-txt3{
    margin-left: -130px; 
    }
    .block3__1Modul-txt4{
    margin-left: -165px; 
    }

    .block3__2Modul-txt1{
    margin-left: -170px; 
    }
    .block3__2Modul-txt2{
    margin-left: -80px; 
    }
    .block3__2Modul-txt3{
    margin-left: -125px; 
    }
    .block3__2Modul-txt4{
    margin-left: -165px; 
    }

    .block3__3Modul-txt1{
        margin-left: -170px; 
        }
        .block3__3Modul-txt2{
        margin-left: -150px; 
        }
        .block3__3Modul-txt3{
        margin-left: -80px; 
        }
        .block3__3Modul-txt4{
        margin-left: -160px; 
        }

.Bl3separation2{
margin-top: 50px;
margin-left: 90px;
display: flex;
}


.block3__4Modul-txt1{
    margin-left: -200px; 
    }
    .block3__4Modul-txt2{
    margin-left: -220px; 
    }
    .block3__4Modul-txt3{
    margin-left: -60px; 
    }
    .block3__4Modul-txt4{
    margin-left: -165px; 
    }

    .block3__5Modul-txt1{
    margin-left: -170px; 
    }
    .block3__5Modul-txt2{
    margin-left: -100px; 
    }
    .block3__5Modul-txt3{
    margin-left: -80px; 
    }
    .block3__5Modul-txt4{
    margin-left: -170px; 
    }
    
    .block3__6Modul-txt1{
    margin-left: -170px; 
    }
    .block3__6Modul-txt2{
    margin-left: -70px; 
    }
    .block3__6Modul-txt3{
    margin-left: -65px; 
    }
    .block3__6Modul-txt4{
    margin-left: -150px; 
    }