.block1{
display: flex;
margin-top: 30px;
}
.block1__image-img{
width: 500px;
margin-left: 100px;
}
.block1__txt_button-txt-txt{
font-family: Raleway;
font-size: 50px;
font-weight: 900px;
margin-top: 120px;
}
.block1__txt_button-txt-txt-color{
color: green;
background-color: white;
}
.block1__txt_button-txt2-txt{
font-family: Raleway;
font-size: 20px;
font-weight: 900px; 
}
.block1__txt_button-button-a-p{
font-family: Raleway;
font-size: 20px;
font-weight: 900px; 
color: green;
border: 1px solid green;
width: 40%;
height: 40px;
padding-top: 20px;

}
.block1__txt_button-button-a{
text-decoration: none;
text-align: center;
margin-left: 200px;
}