.block5{
display: flex;
margin-top: 50px;
margin-bottom: 50px;
}
.block5__img{
margin-left: 140px;
width: 30%;
height: 30%;
}
.block5__subblock{
margin-left: 30px;

}
.block5__subblock-separation{
display: flex;
}
.block5__subblock-txt1{
font-size: 40px;
font-family: Raleway;
font-weight: 450;
margin-top: 100px;
}
.block5__subblock-txt2{
    font-size: 17px;
    font-family: Raleway;
    line-height: 25px;
    margin-top: -20px;
    }
.block5__subblock-separation-img1{
margin-right: 30px;
}
.block5__subblock-separation-img2{
    margin-right: 30px;
    }